/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-class {
    display: flex;
    justify-content: center;
}
.image{
    cursor: pointer;
}
.test{
    color: aqua;
}